.row {
    display: flex;
    flex-flow: row wrap;
    max-width: 1600px;
}

.row--centered {
    justify-content: center;
}

header, main, footer {
    text-align: center;
}

.col {
    text-align: center;
}

.col-full {
    flex: 1 100%;
}

.col-half {
    flex: 1 50%;
}

.col-third {
    flex: 1 32%;
}