.row {
    display: flex;
    flex-flow: row wrap;
}

.row--centered {
    justify-content: center;
}

header, main, footer {
    text-align: center;
}

.col {
    text-align: center;
}

.col-full {
    flex: 1 100%;
}

.col-half {
    /* FIX THIS */
    flex: 1 48%;
}

.col-third {
    flex: 1 33.3%;
}